html{
    font-size: 1px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1, .div2{
    height: 100vh;
}

.div1{
    background-color: pink;
}

.div2{
    background-color: salmon;
}

.square{
    width: 150px;
    height: 20vh;
    background-color: fuchsia;
}

/* .square2{
    margin-top: 300rem;
    width: 150rem;
    height: 150rem;
    background-color: blue;
} */

.red{
    background-color: red;
}